@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
	&, & * {
		outline: solid 1px rgba(255,0,255,.2);
	}
}

html, body, #root{
	width: 100%;
	height: 100%;
}

.logo-svg{
	height: 2rem;

	path{
		outline: solid 2px #000;
		fill: #fff;
	}
}

@media (prefers-reduced-motion: no-preference) {
  // a:nth-of-type(2) .logo {
  //   animation: logo-spin infinite 20s linear;
  // }
}

